
/* ************ GLOBAL ************ */
.reveal h1 {
  margin-bottom:.25em;
  font-size:3em;
  text-transform: none;
  /*font-variant: small-caps;*/
}
.reveal h1.repeat {
  font-size:1em;
  position:relative;
  margin-top:-2em;
  opacity: 0.6;
  text-shadow:none;
}

.reveal h2 {
  clear:both;
  text-transform: none;
  font-size:2.1em;
  font-variant: small-caps;
}

#home h1 {
  margin:1em;
}
#home h1 span {display:inline-block;vertical-align: middle;}

.reveal a.discret,
.reveal .discret a {color:#657b83;}

.reveal .large {font-size:larger;}

.reveal .doc {
  font-size:0.7em;
  margin:2em 2em 0 0;
  text-align: right;
  font-style: italic;
}

.reveal pre + p,
.reveal p + p {margin-top:1em;}

.reveal pre.long {
  width:100%;
}

.reveal code.inline {
  font-size: 0.95em;
  font-family: monospace;
  letter-spacing: -0.15em;
  color:#3F3F3F;
}


/* ************ INTRO ************ */
#intro {
/*  background:url(../img/intro.png);
  width:1921px;
  height:1081px;*/
}

.intro .reveal .slides {
  width:100% !important;
  height:100% !important;
  zoom:1 !important;
  top:0 !important;
  left:0 !important;
  bottom:0 !important;
  right:0 !important;
  transform:none !important;

}
.intro .reveal .slides #intro {
  top:0 !important;
  left:0 !important;
  bottom:0 !important;
  right:0 !important;
  padding:0;margin:0;
  background: #fff;
}
.intro #intro img {
  margin:0;
  background:0;
  max-width:100%;
  max-height:100%;
  position:relative;z-index:10;
  border:0;
  box-shadow:none;
}
.intro #footer {display:none;}

/* ************ HOME ************ */


/* ************ MENU ************ */
#menu li {
  margin-bottom:0.75em;
}
#menu li a {}

/* ************ NOUS ************ */
.reveal .user-links {
  margin-top:1em;
}






/* ************ FOOTER ************ */
#footer {
  position:absolute;
  bottom:1em;
  left:1%;
	font-size:small;
}
#footer a {
  position:relative;z-index:1; /* allow:click; */
}
