
/* ************ GLOBAL ************ */
.reveal h1 {
  margin-bottom:.25em;
}

#home h1 {
  margin:1em;
}
#home h1 span {display:inline-block;vertical-align: middle;}

.reveal a.discret,
.reveal .discret a {color:#657b83;}

.reveal .large {font-size:larger;}

.reveal .doc {
  font-size:0.7em;
  margin:2em 2em 0 0;
  text-align: right;
  font-style: italic;
}

.reveal pre + p {margin-top:1em;}

/* ************ HOME ************ */


/* ************ MENU ************ */
#menu li {
  margin-bottom:0.75em;
}
#menu li a {}

/* ************ NOUS ************ */
.reveal .user-links {
  margin-top:1em;
}






/* ************ FOOTER ************ */
#footer {
  position:absolute;
  bottom:1em;
  left:1%;
	font-size:small;
}
#footer a {
  position:relative;z-index:1; /* allow:click; */
}
