<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Twig | DrupalCamp Paris 2013</title>
		<meta name="description" content="Présentation de Twig lors du DrupalCamp Paris 2013">
		<meta name="author" content="opi">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/solarized.css" id="theme">
		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">
    <!-- Custom -->
    <link rel="stylesheet" href="css/custom.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="reveal">
			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section id="home">
					<h1>Twig</h1>
					<h2>#dcparis13</h2>
					<p>
						<small>Par <strong>opi</strong> &amp; <strong>JulienD</strong></small>
					</p>
				</section>

        <section>
          <p>
            Cette présentation est <strong>déjà</strong> disponible !!
          </p>
          <p>
            <a href="http://opi.github.io/twig-drupalcamp">opi.github.io/twig-drupalcamp</a>
            <br>
            <a href="https://github.com/opi/twig-drupalcamp">github.com/opi/twig-drupalcamp</a>
          </p>
        </section>

				<section id="menu">
          <h1>Au menu</h1>
					<ul class="discret">
						<li><a href="#/nous">Nous, c'est qui ?</a></li>
            <li><a href="#/twig">Twig, c'est quoi ?</a></li>
            <li><a href="#/drupal-twig">Drupal &amp; Twig, c'est bon ?</a></li>
            <li><a href="#/exemples">Les exemples, c'est quand ?</a></li>
            <li><a href="#/questions">? ? ?</a></li>
					</ul>
				</section>

        <section>
          <section id="nous">
            <h1>Nous, c'est qui ?</h1>
          </section>

          <section>
            <h1>opi</h1>
            <p>
              Développeur &amp; Themeur Drupal
              <br>freelance &amp; NVOS
            </p>
            <ul class="user-links">
              <li><a href="https://drupal.org/user/263678">d.o. #263678</a></li>
              <li><a href="https://twitter.com/opidentica">@opidentica</a></li>
              <li><a href="https://github.com/opi">github.com/opi</a></li>
              <li><a href="http://www.olivierpierre.net">olivierpierre.net</a></li>
            </ul>
          </section>

          <section>
            <h1>Julien D</h1>
            <p>
              Développeur Drupal
              <br>Commerce Guys
            </p>
            <ul class="user-links">
              <li><a href="https://drupal.org/user/519520">d.o. #519520</a></li>
              <li><a href="https://twitter.com/juliendubreuil">@juliendubreuil</a></li>
              <li><a href="https://github.com/JulienD">github.com/JulienD</a></li>
              <li><a href="http://juliendubreuil.fr/">juliendubreuil.fr/</a></li>
            </ul>
          </section>

        </section>

        <section id="twig">

          <section>
            <h1>Twig, c'est quoi ?</h1>
            <p>Moteur de template PHP</p>
            <p>Par Fabien Potencier, créateur de Symphony</p>
          </section>

          <section>
            <h1>Les avantages</h1>
            <p>
              <b>Sécurisé:</b> No PHP !<br>
              <b>Documenté:</b> <a href="http://twig.sensiolabs.org/documentation">twig.sensiolabs.org/documentation</a><br>
              <b>Populaire:</b> Zend, CodeIgniter, CakePHP
            </p>
          </section>

          <section>
            <h1>La syntaxe</h1>
            <p>Le caractère important est l'accolade</p>
            <p class="large"><strong>{ }</strong></p>
          </section>

          <section>
            <h1>La syntaxe</h1>
            <h2>Les commentaires</h2>
            <pre><code data-trim>
              {# Ici un commentaire #}
            </code></pre>
          </section>

          <section>
            <h1>La syntaxe</h1>
            <h2>Affichage de variable</h2>
            <pre><code data-trim>
              <h1>{{ title }}</h1>
            </code></pre>
            <p>Équivalent php template:</p>
            <pre><code data-trim>
              <h1>&lt;?php print $title; ?></h1>
            </code></pre>
          </section>

          <section>
            <h1>La syntaxe</h1>
            <h2>Plongée dans les variables</h2>
            <pre><code data-trim>
              {{ node.field_description }}
            </code></pre>
            <pre><code data-trim>
              &lt;div {{item.attributes}}&gt;{{ item.data }}&lt;/div&gt;
            </code></pre>
          </section>

          <section>
            <h1>La syntaxe</h1>
            <h2>Concaténations de variables</h2>
            <pre><code data-trim>
              {{ "Rédigé par " ~ node.author ~ "." }}
            </code></pre>
          </section>

          <section>
            <h1>La syntaxe</h1>
            <h2>Les filtres</h2>
            <pre><code data-trim>
              <h1>{{ title|capitalize }}</h1>
            </code></pre>
            <p>Les filtres sont chainables</p>
            <pre><code data-trim>
              <h1>{{ title|uppercase|nl2br }}</h1>
            </code></pre>
            <p>lower, join, number_format, replace, slice, sort, ...</p>
            <p class="doc"><a href="http://twig.sensiolabs.org/doc/filters/index.html">twig.sensiolabs.org/doc/filters</a></p>
          </section>

          <section>
            <h1>La syntaxe</h1>
            <h2>Les fonctions</h2>
            <pre><code data-trim>
              {{ node.created|date("d/m/Y") }}
            </code></pre>
            <p>cycle, range, include, parent, random, ...</p>
            <p class="doc"><a href="http://twig.sensiolabs.org/doc/functions/index.html">twig.sensiolabs.org/doc/functions</a></p>
          </section>

          <section>
            <h1>La syntaxe</h1>
            <h2>Structures de controle</h2>
            <pre><code data-trim>
{% if ... %}
{% else %}
{% endif %}
            </code></pre>
            <pre><code data-trim>
{% for i in 0..10 %}
  {{ i }}
{% endfor %}
            </code></pre>
            <p>autoescape, do, for, from, include, ...</p>
            <p class="doc"><a href="http://twig.sensiolabs.org/doc/tags/index.html">twig.sensiolabs.org/doc/tags</a></p>
          </section>

          <section>
            <h1>La syntaxe</h1>
            <h2>Structures de controle : for</h2>
            <p>Clé / valeur</p>
            <pre><code data-trim>
{% for key, user in users %}
  <span class="user-{{ key }}">{{ user.name|e }}</span>
{% endfor %}
            </code></pre>
            <p>For avec condition</p>
            <pre><code data-trim>
{% for user in users if user.active %}
  <span>{{ user.name|e }}</span>
{% endfor %}
            </code></pre>
          </section>

          <section>
            <h1>La syntaxe</h1>
            <h2>Structures de controle : for</h2>
            <p>Cas d'un tableau vide</p>
            <pre><code data-trim>
{% for user in users %}
  <span>{{ user.name|e }}</span>
{% else %}
  <span class="empty">No user found</span>
{% endfor %}
            </code></pre>
          </section>

          <section>
            <h1>Les tests</h1>
            <pre><code data-trim>
{% if foo is empty %}
  <span>Empty</span>
{% endif %}
            </code></pre>
            <pre><code data-trim>
{% if foo is defined %}
{% endif %}
            </code></pre>
          </section>

          <section>
            <h1>Math &amp; Logic</h1>
            <pre><code data-trim>{{ 1 + 1 }}</code></pre>
            <pre><code data-trim>{{ 2 * 5 }}</code></pre>
            <pre><code data-trim>{{ 20 // 7 }} {# returns 2 #}</code></pre>
            <pre><code data-trim>{% if foo and bar %}</code></pre>
            <pre><code data-trim>{% if foo or bar %}</code></pre>
            <pre><code data-trim>{% if foo in [1, 2, 3] %}</code></pre>
            <pre><code data-trim>{% if foo not in [1, 2, 3] %}</code></pre>
            <pre><code data-trim>{{ foo ? 'yes' : 'no' }}</code></pre>
            <p></p>
            <p class="doc"><a href="http://twig.sensiolabs.org/doc/templates.html#math">twig.sensiolabs.org/doc/templates.html#math</a></p>
          </section>

          <section>
            <h1>Extensions</h1>
            <p>
              Permet d'ajouter ses propres tag, filtres &amp; fonctions
            </p>
            <pre><code data-trim>
&lt;?php
$filter = new Twig_SimpleFilter('spip2drupal', function ($string) {
    return str_replace('spip', 'drupal', $string);
});
            </code></pre>
            <pre><code data-trim>
              {{ node.body|spip2drupal }}
            </code></pre>
          </section>


        </section>

        <section id="drupal-twig">
          <section>
            <h1>Drupal &amp; Twig,<br> c'est bon ?</h1>
          </section>
        </section>

        <section id="exemples">
          <section>
            <h1>Les exemples,<br> c'est quand ?</h1>
          </section>
        </section>

        <section id="questions">
          <section>
            <h1>? ? ?</h1>
          </section>
        </section>

        <section>
          <section>
            <h1>{% end %}</h1>
          </section>
        </section>

			</div>

      <footer id="footer">
        <a href="#/home" class="discret">Twig &amp; Drupal</a> - DrupalCamp Paris 2013 - opi &amp; JulienD
      </footer>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

        rollingLinks: false,

				// theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					// { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					// { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
